# ignore all .dat in all directories
*.dat
# all rendering files
*_files/
# results and logs
*results/
*logs/

# Rhistory
.Rhistory
.Rapp.history

# miscellaneoues
misc.R

# compiled stan models
dml_b
dml_b2
dml_r2d2
dml_b2_iw

# auxiliary
ForLasse/
temp/