# ignore all .dat in all directories
*.dat
# all rendering files
*_files/
# results and logs
*results/
*logs/

# Rhistory
.Rhistory
.Rapp.history

# miscellaneoues
misc.R

# compiled stan models
stan/bdml*
!*.stan

# auxiliary
ForLasse/
temp/