# ignore all .dat in all directories
*.dat
# all rendering files
*_files/
# results and logs
*results/
*logs/
temp/

# Rhistory
.Rhistory

# comparison results
ForLasse/

# compiled stan models
dml_b
dml_b2
dml_r2d2
